<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CrmOrganizationService" value="http://crmserver/Armsoft/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="EmailFromCrmUserId" value="7E1CDDD9-DF79-DF11-B673-001CC03551D6" />
    <add key="EmailToCrmUsersId" value="AFBBCA30-1AA0-E211-9944-00155D640A02" />
  </appSettings>
</configuration>