<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CrmOrganizationService" value="http://crm_server_name/organization_name/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="EmailFromCrmUserId" value="00000000-0000-0000-0000-000000000000" />
    <add key="EmailToCrmUsersId" value="00000000-0000-0000-0000-000000000000" />
  </appSettings>
</configuration>